<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066088956059-rtlm7097b48pmksorcmak3b4gvdk46oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066088956059-rtlm7097b48pmksorcmak3b4gvdk46oh</string>
	<key>API_KEY</key>
	<string>AIzaSyBYbF_zY6l7ks1mGzEuWMTu5Lnyo3N8ZDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1066088956059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mdrubel.Firebase-Register</string>
	<key>PROJECT_ID</key>
	<string>registerdemo-mdr</string>
	<key>STORAGE_BUCKET</key>
	<string>registerdemo-mdr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066088956059:ios:c55390aa6dc549ee</string>
	<key>DATABASE_URL</key>
	<string>https://registerdemo-mdr.firebaseio.com</string>
</dict>
</plist>